<!-- <div class="main d-flex justify-content-between p-3">
    <div class="brand d-flex justify-content-center align-items-center">
        <div class="brand-logo">
            <img src="../../assets/Tata_Neu_image.jpg" alt="logo" srcset="" style="width: 3rem; height: 3rem;">
        </div>
    </div>
    <div class="menu">
        <ul class="navbar-nav d-flex flex-row align-items-center whiteT">
            <li class="nav-item">
                <a class="nav-link ms-3" routerLink="offers">
                    offers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  ms-3" routerLink="stories">
                    stories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link purpleT ms-3" routerLink="home">
                    NeuPass
                </a>
            </li>
            <li class="nav-item">
                <button class="nav-link bgtxt text-center ms-3" routerLink="NeuCoins">
                    NeuCoins
                </button>
            </li>
        </ul>
    </div>
    <div class="box">
        <div class="wapper d-flex flex-row justify-content-center align-items-center">
            <fa-icon [icon]="fasearch"></fa-icon>
            <input type="text" name="search" placeholder="Search" id="" class="">
        </div>
    </div>
    <div class="location ms-3 d-flex flex-row justify-content-center align-items-center">
        <p class="text-white mb-0 ">400001</p>
        <fa-icon [icon]="falocation" size="xl" class="text-white ms-1" ></fa-icon>
    </div>
    <div class="profile ms-5 text-end d-flex justify-content-end align-items-center">
        <fa-icon [icon]="fauser" size="2x" class="text-light  "></fa-icon>
    </div>
</div>              -->

<div class="container">
    <nav class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg bg-body-tertiary "
        data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Link</a>
                    </li>
                </ul>
                <div class="d-flex" role="search">
                    <div class="rap d-flex flex-row justify-content-center align-items-center ">
                        <fa-icon [icon]="fasearch" class=""></fa-icon>
                        <input class="form-control me-2" type="search" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>